* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
html, body {
  overflow-x: hidden;
  overflow-y: visible;
}
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #414C6B;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar {
  position: fixed;
}
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar a {
  color: #D8ECEE;
  margin: 16px;
  padding: 8px;
  font-size: 1.3rem;
  text-decoration: none;
}

#welcome-section {
  background-color: #A5DEF2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 90%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 5rem;
  padding: 8px 16px;
}

#projects {
  background-color: #D8ECEE;
  width: 100vw;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projects .content {
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem
}
@media (max-width: 300px) {
  #projects .content {
    grid-auto-columns: 290px;
    grid-template-rows: 270px 270px 270px 270px;
  }
}

.project {
  background-color: #1E80C1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project-image {
  width: 100%;
  height: 100%;
}
.project p {
  font-size: 16px;
  margin: 8px auto;
  color: #eee;
  display: flex;
  align-self: center;
}
#projects h3 {
  margin: 32px auto;
}
.project a, #contact a {
  text-decoration: none;
  color: #000;
}
#contact {
  background-color: #A5DEF2;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  padding: 8px 16px;
}
#contact p {
  font-size: 16px;
  font-style: italic;
}
.contact-list {
  margin: 32px auto;
  padding: 16px 8px;
}
i {
  margin-left: 16px;
  margin-right: 8px;
}
footer {
  background-color: #A5DEF2;
  padding: 32px 8px;
  border-top: solid  #414C6B 5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
}
